<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Accounts</title>
</head>
<body>
<div>
    <h3>accounts page</h3>

    <div>
        <a th:href="@{/accounts/create}">Create new account</a>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>IBAN</th>
                    <th>Holder</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="account: ${myAccountsList}">
                    <td th:text="${account.iban}"></td>
                    <td th:text="${account.holder}"></td>
                    <td th:text="${account.balance}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
