<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Accounts</title>
</head>
<body>
<div>
    <h3>accounts page</h3>
    <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Login</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <span>
            Hello, <span sec:authentication="name"></span>
            <span sec:authentication="principal.authorities"></span>
        </span>
        <a href="javascript: document.logoutForm.submit()">Logout</a>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>
    </div>

    <div>
        <a th:href="@{/accounts/create}">Create new account</a>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>IBAN</th>
                <th>Holder</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account: ${myAccountsList}">
                <td th:text="${account.iban}"></td>
                <td th:text="${account.holder}"></td>
                <td th:text="${account.balance}"></td>
                <td>
                    <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/accounts/edit/{id}(id=${account.id})}">Edit</a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/accounts/delete/{id}(id=${account.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
