<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Accounts</title>
</head>
<body>
<div>
    <h3>accounts page</h3>

    <div>
        <span th:text="${dummyAccountName}"></span>
    </div>
    <div>
        <div>
            <label for="iban">Iban</label>
            <span id="iban" th:text="${myAccount.iban}"></span>
        </div>
        <div>
            <label for="holder">Holder</label>
            <span id="holder" th:text="${myAccount.holder}"></span>
        </div>
        <div>
            <label for="balance">Iban</label>
            <span id="balance" th:text="${myAccount.balance}"></span>
        </div>
    </div>
</div>
</body>
</html>
